* {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
}


h1 {
  text-align: center;
  font-family: Verdana;
  font-size: 50px;
  font-weight: normal;
  color: white;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p{
  text-align: center;
}


a {
  text-align: center;
  text-decoration: none;
  color: aquamarine;
  font-size: 16px;
}

footer {
  text-align: right;
  color: gray;
}
